<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Booking APP</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
       <h1>Book Ticket by Filling Below Form</h1>
       <p th:text="${message}"/>
       <form th:action="@{/book-ticket}" th:object="${passenger}" method="POST">
       
         <table>
             	<tr>
             	  <td>ID :</td>
             	  <td><input type="text" th:field="*{pid}"></td>
             	</tr>
                
       
          
             	<tr>
             	  <td>Name :</td>
             	  <td><input type="text" th:field="*{name}"></td>
             	</tr>
                
                 	<tr>
             	  <td>FROM :</td>
             	  <td><input type="text" th:field="*{departure}"></td>
             	</tr>
             	
             	 	<tr>
             	  <td>Destination: </td>
             	  <td><input type="text" th:field="*{arrival}"></td>
             	</tr>
             	
             	 	<tr>
             	  <td>Date of Journey</td>
             	  <td><input type="text" th:field="*{dateOfJourney}"></td>
             	</tr>
             	
             		 	<tr>
             	  <td>Train Number</td>
             	  <td><input type="text" th:field="*{trainNumber}"></td>
             	</tr>
             	
             	 <tr>
             	  <td></td>
             	  <td><input type="submit" value="Submit"></td>
             	</tr>
             	
             	
             
             </table>
       </form>
       
       <a href="ticket">View Ticket Details</a>
</body>
</html>